
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          <ul>
       {{#each comics as |comic|}}
       <li>{{name}}</li>
       <img src= "{{cover}}" style="max-width: 200px; height:auto;"/>
       
  
       {{/each}}
       </ul>
        </div>
      </div>
      <div class="twelve wide stretched column">
        <div class="ui segment">
        </div>
      </div>
    </div>
  
