    <div class="ya-card-cell">     
    <div data-card-identifier="YourProfiles" class="a-box ya-card--rich"><div class="a-box-inner">
    <div class="a-row">
    <div class="a-column a-span3">
    <img alt="Your Profiles" src={{image}}>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Your Profiles</h5>
          <h6 class="card-subtitle mb-2 text-muted">personal information</h6>
          <p class="card-text">Manage, add, or remove user profiles for personalized experiences.</p>
          <div class="card-link">{{name}}</div>
          <div class="card-link">{{email}}</div>
          <div class="card-link">{{password}}</div>
        </div>
      </div>
    </div>
